:root {

  /** Blue */

  --dark-blue: #666677;
  --darker-blue: #000;
  --bright-blue: #00a8c6;
  --brighter-blue: #40c0cb;
  --pale-bright-blue: rgba(64, 192, 203, 0.3);
  --paler-bright-blue: rgba(64, 192, 203, 0.2);

  /** Grey */

  --dark-grey: #444455;
  --medium-grey: #9999bb;
  --lightish-grey: #ccccdd;
  --light-grey: #e5e5e5;
  --lighter-grey: #efeff1;


  /** Pink */

  --lighter-pink: #efeff1;
  --light-pink: #e5e5e5;

  /** Prose */

  --prose-color-base: var(--dark-grey);
  --prose-color-dark: var(--darker-blue);
}
