:root {

  /** NAMED COLORS **************************************/

  /** Blue */

  --dark-blue: #666677;
  --black: #000;
  --bright-blue: #00a8c6;
  --brighter-blue: #40c0cb;
  --pale-bright-blue: rgba(64, 192, 203, 0.3);
  --paler-bright-blue: rgba(64, 192, 203, 0.2);

  /** Grey */

  --dark-grey: #444455;
  --medium-grey: #9999bb;
  --lightish-grey: #ccccdd;
  --light-grey: #e5e5e5;
  --lighter-grey: #f5f5f5;

  /** Pink */

  --dark-pink: #ff5a5f;
  --lighter-pink: var(--dark-pink);
  --light-pink: var(--dark-pink);

  /** ATTITUDES *****************************************/

  --neutral-base: var(--lightish-grey);
  --neutral-light: var(--light-grey);
  --neutral-xlight: var(--lighter-grey);
  --neutral-dark: var(--medium-grey);
  --neutral-xdark: var(--dark-grey);
  --positive-base: var(--bright-blue);
  --positive-light: var(--pale-bright-blue);
  --positive-xlight: var(--paler-bright-blue);
  --positive-dark: var(--dark-blue);
  --positive-xdark: var(--black);
  --negative-base: var(--lighter-pink);
  --negative-light: var(--lighter-pink);
  --negative-xlight: var(--light-pink);
  --negative-dark: var(--dark-pink);
  --negative-xdark: var(--light-pink);

  /** SEMANTIC ******************************************/

  /** Brand */

  --brand-base: var(--bright-blue);
  --brand-light: var(--pale-bright-blue);
  --brand-dark: darken(var(--bright-blue), 50%);

  /** Prose */

  --prose-color-base: var(--dark-grey);
  --prose-color-dark: var(--black);
}
