:root {
  --font-base-size: 14px;
  --xxsmall: 0.25rem;
  --xsmall: 0.5rem;
  --small: 0.75rem;
  --base: 1rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --xxlarge: 2.5rem;
  --line-height: 1.53rem;

  --container-small: 400px;
  --container-medium: 600px;
  --container-large: 900px;
}
