@font-face {
  font-family: 'Maison';
  src: url('fonts/MaisonNeueWEB-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Maison Mono';
  src: url('fonts/MaisonNeueWEB-Mono.woff2') format('woff2');
}

:root {
  --sans-serif: 'Maison';
  --monospace: 'Maison Mono';
}
