@import 'base.css';

.wide {
  max-width: 900px;
  margin: 0 var(--xlarge);
}

.narrow {
  max-width: 600px;
  margin: auto;
}

.full {
  background-color: #eff;
}

.debug {
  border: 1px solid blue;
}

.horizontal-box {
  display: flex;
}

.flex-1 {
  flex: 2;
}
