@import 'styles/base.css';

.base {
  max-width: var(--container-medium);
  margin: 0 var(--xlarge);
}

.wide {
  max-width: var(--container-large);
  margin: 0 var(--xlarge);
}

.narrow {
  max-width: var(--container-small);
  margin: auto;
}

.full {
}

.debug {
  border: 1px solid blue;
}

.horizontal-box {
  display: flex;
}

.flex-1 {
  flex: 2;
}
