@import 'styles/base.css';

.nav {
  margin: var(--base);
  margin-left: var(--xlarge);
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: inline;
}

.headerItem {
  margin-right: var(--base);
}

.headerItemSelected a {
  border-bottom: 1px solid var(--brand-light);
}
