@import 'styles/base.css';

.codeblock {
  background-color: var(--neutral-xlight);
  border: 2px solid var(--neutral-xlight);
  margin: var(--small) calc(-1 * var(--small));
  padding: 0.75rem var(--small);
  font-family: var(--monospace);
  font-size: 0.8rem;
}
