@import 'styles/base.css';

.typography {
  line-height: var(--base);
}

.debug {
  border: 1px solid blue;
}

.faded {
  opacity: 0.5;
}

.uppercase {
  text-transform: uppercase;
}

.a,
.markdown a {
  text-decoration: none;
  color: var(--brand-base);
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--brand-light);
  }
}

.link {
  display: inline;

  & a {
    text-decoration: none;
  }
}

.hr,
.markdown hr {
  border: 1px solid var(--neutral-xlight);
  margin: var(--large) 0;
}

.h1,
.markdown h1 {
  font-size: var(--xxlarge);
  margin: var(--xlarge) 0 var(--large) 0;
}

.h2,
.markdown h2 {
  font-size: var(--xlarge);
  margin-top: var(--xlarge);
}

.h3,
.markdown h3 {
  font-size: var(--large);
  margin-top: var(--xlarge);
}

.label,
.markdown label {
  font-size: var(--small);
  text-transform: uppercase;
}

.p,
.markdown p {
  line-height: var(--line-height);
}

.code,
.markdown code {
  background-color: var(--neutral-xlight);
  border: 2px solid var(--neutral-xlight);
  margin: var(--xsmall));
  font-family: var(--monospace);
  font-size: var(--small);
}
