@import 'app/styles/base.css';

.debug {
  border: 1px solid blue;
}

.faded {
  opacity: 0.5;
}

.uppercase {
  text-transform: uppercase;
}

.a {
  color: var(--brand-base);

  &:hover {
    border-bottom: 1px solid var(--brand-light);
    cursor: pointer;
  }
}

.hr {
  border: 1px solid var(--neutral-xlight);
  margin: var(--large) 0;
}

.h1 {
  font-size: var(--xlarge);
  margin: var(--xlarge) 0;
}

.h2 {
  font-size: var(--large);
  margin-top: var(--xlarge);
}

.label {
  font-size: var(--small);
  text-transform: uppercase;
}

.link {
  display: inline;

  & a {
    text-decoration: none;
  }
}
