@import 'app/styles/colors.css';

.category1 {
  background-color: var(--lighter-grey);
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 5px;

  &:hover {
    background-color: var(--light-grey);
  }
}

.category2 {
  border-bottom: 1px solid var(--lightish-grey);
  padding: 1px 3px;
  margin: -1px -3px;

  &:hover {
    border-bottom: 1px solid var(--medium-grey);
  }
}

.uncategorized {
}
