@import './../../styles/colors.css';

.category1 {
  color: var(--darker-blue);
  background-color: var(--lighter-grey);
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 5px;

  &:hover {
    background-color: var(--light-grey);
  }
}
