@import 'typefaces.css';

.pos {
  opacity: 0.4;
}

.separator {
}

.word {
  color: #999;
}

.TO,
.VB,
.VBD,
.VBG,
.VBN,
.VBP,
.VBZ {
  border-bottom: 2px solid #ddd;
  color: black;
  padding-bottom: 1px;
}

.NN,
.NNP,
.NNPS,
.NNS {
  color: black;
}

.DT,
.RB,
.RBR,
.5 {
  opacity: 0.5;
}
