@import 'styles/typefaces.css';

.pos {
  opacity: 0.4;
}

.separator {
}

.word {
  color: #999;
}

.theme--0 { /* default */
  & .TO,
  & .VB,
  & .VBD,
  & .VBG,
  & .VBN,
  & .VBP,
  & .VBZ {
    border-bottom: 2px solid #ddd;
    color: black;
    padding-bottom: 1px;
  }

  & .NN,
  & .NNP,
  & .NNPS,
  & .NNS {
    color: black;
  }

  & .DT,
  & .RB,
  & .RBR,
  & .5 {
    opacity: 0.5;
  }
}

.theme--1 { /* allPartsOfSpeech */
  border: 1px solid skyblue;
  padding: 12px;
}

.theme--1 { /* allPartsOfSpeech */
  & .TO,
  & .VB,
  & .VBD,
  & .VBG,
  & .VBN,
  & .VBP,
  & .VBZ {
    border-bottom: 2px solid #ddd;
    color: black;
    padding-bottom: 1px;
  }

  & .NN,
  & .NNP,
  & .NNPS,
  & .NNS {
    color: black;
  }

  & .DT,
  & .RB,
  & .RBR,
  & .5 {
    opacity: 0.5;
  }
}
