@import 'styles/base.css';

.section {
  margin: var(--small) 0;
  padding: var(--base);
}

.section--primary {
  background-color: var(--neutral-xlight);
}

.section--secondary {
  border: 1px solid var(--neutral-light);
}
